{% extends 'layout.html.twig' %}

{% block content %}
{# <div id="spinner">
	<img src="/assets/images/spinner.gif">
</div> #}

<h2 class="destination-img" style="background-image: url({{travel.image}})">Votre destination</h2>
<div class="py-5 text-center">
	<h2 class="mt-3">Votre Prochaine Destination</h2>
	{{ travel.city }}
	{{ travel.country }}


	<br>
	{{ temp }}
	<br>
	{{weather}}

</div>
{% endblock %}
{% block javascript %}
<script src="/assets/js/spinner.js"></script>
{% endblock %}