{% extends 'layout.html.twig' %}
{% block content %}
<div class="container">
    <div class="jumbotron mt-5">
        <h1 class="display-4">Faites vos préparatifs {{ userWithTravel.username }}!</h1>
        <div class="lead">Vous allez découvrir : {{ userWithTravel.city }}, {{ userWithTravel.country }}.</div>
        <hr class="my-4">
        <div class="mb-1">Quelques détails sur votre voyage :</div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4">
                <img src="{{ userWithTravel.image }}" class="card-img-top" alt="{{ userWithTravel.city }}">
                <div class="card-body">
                    <h5 class="card-title">{{ userWithTravel.city }}, {{ userWithTravel.country }}</h5>
                    <div class="card-text">
                        Cette destination offre une expérience unique grâce à son emplacement à la latitude {{ userWithTravel.lat }} et la longitude {{ userWithTravel.long }}. 
                        Profitez de votre séjour pour découvrir ses trésors cachés !
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header">
                    <h5 class="card-title">Météo actuelle</h5>
                </div>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">{{ weather }}</h6>
                    <div class="card-text">La température actuelle est de {{ temp }}°C.</div>
                    <img src="{{ icon }}" alt="Icône météo">
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <h5 class="card-title">Votre Hébergement</h5>
                </div>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">Une tente 5  <i class="fa fa-star fa-sm "></i> !</h6>
                    <div class="card-text">Quechua 2 sec</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
